html {
	text-transform: lowercase;
}
.border {
	height: auto;
	width: auto;
	border: 2px solid #000;
	margin: 2px;
	background-color: #fff;
}
/*  Clearfix technics for .wrap */
.wrap:before, .wrap:after {
	clear: both;
	content: '';
	display: table;
}
.wrap {
	*zoom: 1;
	width: auto;
}
/* Clearfix finished */

.wrap:first-child .blu {
	border-radius: 0;
}
.blu {
	background-color: #0000ff;
	border-radius: 20px;
	height: 250px;
	margin: 2%;
}
.blu:first-child{
	height: 200px;
	margin: 1% 2% 0;
} 
.wrap:nth-of-type(2) .blu{
	height: 450px;
}
.circle {
	background-color:  #ffffcc;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	float: right;
	margin: 70px 40px 70px 0px;
}
.block1, .block2, .block3,.block4 {
	float: left;
	background-color: #ffe680;
}
.block1 {
	height: 80%;
	width: 30%;
	margin: 2%;
}
.block2 {
	height: 85%;
	margin: 19% 8%;
	width: 84%;
}
.wrap:nth-of-type(2) .blu:first-child{
	width: 21%;
	float: left;
	margin: 2%;
}
.wrap:nth-of-type(2) .blu:last-child{
	width: 71%;
	float: right;
}
.block3 {
	height: 25%;
	margin: 4% 4% 0 5%;
	width: 90%;
}
.block3:last-child {
	margin-bottom: 4%;
}
.block4 {
	height: 75%;
	width: 21%;
	margin: 4% 0 0 2%;
}
.block4:first-child {
	margin-left: 5%;
}