.temporarystyle {
	background-color: lightyellow;
	border: 25px ridge orange;
	padding: 10px 30px;
	text-align: justify;
	margin: 25px;
}
.red, .blue, .green, .black {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	padding: 10px 15px 13px;
	display: inline-block;
	margin-right: 20px;
}

.red {
	background-color: #ffaaaa;
		margin-top: 20px;
}
.blue {
	background-color: #aaaaff;
}
.green {
	background-color: #aaffaa;
}
.black {
	background-color: #000;
	color: #fff;
		margin-top: 20px;
}
.none {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	width: auto;
}
div div:nth-child(even){
	margin-right: 0;
}
.temporarystyle h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.img img{
	max-width: 300px;
}
.img {
	float:left;
	margin: 1%;
}

.c1, .c2, .c3, .c4 {
	height: 100px;
	width: 100px;
	border: 1px solid blue;

}
.c1 {
	background-color: #aaaaff;
		float: left;
}
.c2 {
	background-color: #aaffaa;
	float: left;
}
.c3 {
	background-color: #ffaaaa;
	float: right;

}
.c4 {
	background-color: #555555;
		float: right;
			height: 200px;
}
.ee {
	float: none;
	height: auto;
	width: auto;
	/*clear: left; устанавливает элемент за "последним" элементом слева
	clear: right; устанавливает элемент за "последним" элементом справа*/

}
.ee:before, .ee:after {
	display: block;
	width: 100%;
	content: "some text"; /*текст, который вставляется в элемент из css*/
	background-color: #bbbbbb;
	font-size: 0; /*устанавливает размер шрифта содерживого в 0,
									чтоб элемента не было видно*/
	clear: both;
}
.wrap {
		float: none;
	height: auto;
	width: auto;
}
/*помогает обвернуть блоки с float 
и дальнейший контент страницы сделать уже после этих диких блоков*/
.wrap:after {
	display: block;
	width: 100%;
	content: ".";
	font-size: 0;
	clear: both;
}
