html {
	text-transform: lowercase;
}
.main {
	max-height: auto;
	max-width: 860px;
	border: 2px solid #ff0000;
	margin: 50px 100px;
	background-color: #fff;
}

/*  Clearfix technics for .wrap */
.wrap:before, .wrap:after {
	clear: both;
	content: '';
	display: table;
}
.wrap {
	*zoom: 1;
	position: relative;
}
/* Clearfix finished */
.floatCL {
	float: left;
}
.bluc {
	background-color: #0000ff;
	width: 27%;
	height: 170px;
	top: 130px;
	left: 0;
}
.magc {
	background-color: #ff00ff;
	width: 35%;
	height: 220px;
	top: 80px;
}
.greec {
	background-color: #00ff00;
	width: 31%;
	height: 300px;
}
.bluc, .magc, .greec {
	margin: 1%;
}
.wrap:last-child .bluc, .wrap:last-child .magc, .wrap:last-child .greec {
	position: relative;
}

