/*setting the fonts*/
@font-face {
  font-family: 'SFDistantGalaxy';
    src: url('../fonts/SFDistantGalaxyAlternate.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: #000;
  color: #00004d;
}
h1, h2 {
  color: #fff;
  font-family: SFDistantGalaxy, Verdana;
}
h3 {
  margin-top: 0px;
  color: #00004d;
  font-family: SFDistantGalaxy, Verdana;
}
/*
 *  MAIN
 */
.container{
  background-color: #9da5af;
  border: 3px solid #9da5af;
  border-radius: 3px;
  margin: 3px auto;
}
.pointer:hover{
  cursor: pointer;
}
#charHeader {
  width: 100%;
  text-align: center;
  color: #000;
}
.infoBlock{
  font-family: Verdana;
  font-size: 1.4em;
  background-color: #e3e5e8;
  border-radius: 5px;
  margin-bottom: 20px;
}
.infoBlock:after{
	clear: both;
	content: '';
	display: table;
}
.infoBlock div {
  /*border-left: 1px solid #00004d;*/
  box-sizing:border-box;
  border-radius: 3px;
  /*padding: 10px;
  min-width: 30%;*/
  margin-bottom: 10px;
}
.infoBlock p{
  margin: 0.2em 0;
}
.infoBlock ul {
  list-style: none;
  padding-left: 10px;
}
.infoBlock ul>li:hover{
  text-decoration: underline;
  cursor: pointer;
}
#charPicBlock{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}
#charPic{
  margin: 10px auto 20px;
  border-radius: 5px;
}
.infoBlock .navButtons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}
#navButtonBack{
  border-radius: 15px 0 0 15px;
  border: 1px solid #9da5af;
}
#navButtonForw{
  border-radius: 0 15px 15px 0;
  border: 1px solid #9da5af;
}
.navButtons div {
  flex-grow: 1;
  box-sizing:border-box;
  margin: 0px;
  padding: 0 10px;
}
.navButtons div:hover {
  cursor: pointer;
  background-color: #c7cbd1;
}
#charInfo {
  margin-top: 20px;
}
/*
 *  FOOTER
 */

footer .container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-family: Courier New;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #charPic {
    width:200px;
  }
}
