@font-face {
	font-family: HelveticaNeue;
	src: url(fonts/HelveticaNeue.ttf);
	font-family: HelveticaNeueLight;
	src: url(fonts/HelveticaNeue-Light.ttf);
	font-family: HelveticaNeuebold;
	src: url(fonts/HelveticaNeue-Bold.ttf);
}
:root{
	--content-height: 704px;
}
body {
	font-family: HelveticaNeue, Sans-serif;
	background-color: #000;
}
.body {
	max-width: 1366px;
	max-height: 1492;
	margin: auto;
	background-color: #000;
}
header {
	background-color: #000;
	max-width: 1366px;
	height: 67px;
}
/*Clearfix*/
header:after,
.content:before,
.content:after,
main:before,
main:after,
.socials.footBlocks:after,
footer:after {
	clear: both;
	content: '';
	display: table;
}
.logo {
	float: left;
	width: auto;
	height: auto;
	line-height: 67px;
	padding-left: 128px;
}
.main-menu {
	list-style: none;
	float: right;
	color: #fff;
	width: 66%;
}
.main-menu li {
	display: inline-block;
	width: auto;
	margin-right: 7%;
	line-height: 67px;
	text-transform: uppercase;
	float: right;
	font-size: 15pt;
}

.main-menu li:hover{
	color: #ca0500;
}
a {
	display: block;
	text-decoration: none;
	color: inherit;
}

.top-img {
font-size: 15pt;
	background-image: url(img/banner.png);
	background-size: 120% auto;
	opacity: 0.6;
	background-position: 0 -220px;
	max-width: 1366px;
	height: 670px;
}

.top-block {
	color: #fff;
	position: relative;
	width: 60%;
	margin: auto;
	text-align: center;
	top: -24em;
		line-height: 50px;
}
h1 {
	font-size: 41pt;
	text-transform: uppercase;
	align-content: center;
	font-weight: 700;
	font-family: HelveticaNeuebold;
}
#redbutton {
	background-color: #ca0500;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 14pt;
	margin: auto;
	width: 164px;
	border: 1px solid #ca0500;
}
#redbutton:hover {
	background-color: #000;
	opacity: 0.3;
}
.content {
	max-width: 1366px;
	background-color: #212121;
	position: relative;
	top: -150px;
}
.content h2 {
	font-size: 26pt;
	padding-top: 62px;
	padding-bottom: 	25px;
}
.content p {
   padding: 13px 90px 13px 0px;
	font-size: 11pt;
	line-height: 	20px;
}
.left, .right {
	margin: 0;
	padding:0 0 0 67px;
	width: 41.1%;
	position: relative;
	height: var(--content-height);
	float: left;
}
.left {
	background-color: #fff;
}
.text-block {
	margin: 0;
}
.right {
	color: #fff;
}
.geometry {
	height: 0;
	width: 0;
	border-top: var(--content-height) solid #fff;
	border-right: 92px solid #212121;
	float: left;
}
hr {
	width: 38px;
	height: 2px;
	background-color: #ca0500;
	float: none;
	display: inline-block;
	border: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.content .italic {
	font-style: italic;
	font-size: 16pt !important;
	padding-top: 25px;
}
footer {
	position: relative;
	top: -150px;
	font-size: 10pt;
	background-color: #111111;
}
.footBlocks, .socials {
	display: inline-block;
	padding: 1% 2% 1% 6%;
	line-height: 30px;
	float: 	left;
	width: 14%;
}
.footBlocks li:hover {
	color: #fff;
}
.socials {
	width: 17.5%;
}
.socials .footBlocks {
	width: 80%;
	margin: 0;
	padding: 0;
}
h3 {
	text-transform: uppercase;
	font-size: 13pt;
	color: #fff;
	line-height: 50px;
	border-bottom: 1px solid #212121;
}
footer ul {
	list-style: none;
	color: #999999;
}
.copyright {
	margin-top: 2em;
	color: #585858;
	padding-top: 	10px;
	clear: both;
}
.fb, .tw,.go {
	height: 	40px;
	width: 	40px;
	border-radius: 20px;
	background-color: #888888;
	display: 	inline-block;
	margin: 15px 15px 0 0;
		background-image: url(img/socials.png);
}
.tw:hover {
	background-position: 0 -40px;
}
.fb {
	background-position: 40px 0;
}
.go {
	background-position: 80px 0;
}
.fb:hover {
	background-position: 40px -40px;
}
.go:hover {
	background-position: 80px -40px;
}