@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.dfont);
}
:root{
	--content-height: 500px;
}
body {
	font-family: HelveticaNeue, Sans-serif;
	background-color: #000;
}
.body {
	max-width: 1366px;
	max-height: 1492;
	margin: auto;
	background-color: #000;
}
header {
	background-color: #000;
	max-width: 1366px;
	height: 67px;
}
/*Clearfix*/
header:after,
.content:before,
.content:after,
main:before,
main:after {
	clear: both;
	content: '';
	display: table;
}
.logo {
	float: left;
	width: auto;
	height: auto;
	line-height: 67px;
}
.main-menu {
	list-style: none;
	float: right;
	color: #fff;
	width: 66%;
}
.main-menu li {
	display: inline-block;
	width: auto;
	margin-right: 7%;
	line-height: 67px;
	text-transform: uppercase;
	float: right;
}
a {
	display: block;
	text-decoration: none;
	color: inherit;
}

.top-img {

	background-image: url(img/banner.png);
	background-size: 120% auto;
	opacity: 0.6;
	background-position: 0 -220px;
	max-width: 1366px;
	height: 670px;
}

.top-block {
	color: #fff;
	position: relative;
	width: 40%;
	margin: auto;
	text-align: center;
	top: -24em;
		line-height: 50px;
}
h1 {
	font-size: 41px;
	text-transform: uppercase;
	align-content: center;
	font-weight: 700;
}
#redbutton {
	background-color: #ca0500;
	text-transform: uppercase;
	text-align: center;
	color: #fff;

	font-size: 14px;
	margin: auto;
	width: 166px;
}
.content {
	max-width: 1366px;
	background-color: #fff;
	position: relative;
	top: -150px;
}
.content h2 {
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 	5px;
}
.content p {
	padding: 5px 0;
	font-size: 13px;
	line-height: 	20px;
}
.left, .right {
	margin: 0;
	padding-left: 8%;
	padding-right: 9%;
	width: 30%;
	position: relative;
	height: var(--content-height);
}
.left {
	float: left;

}
.right{
	float: right;
}
.text-block {
	margin: 0;
}
.right {
	background-color: #212121;
	color: #fff;
}
.geometry {
	height: 0;
	width: 0;
	border-top: var(--content-height) solid #fff;
	border-right: 70px solid #212121;
	float: right;
}
hr {
	width: 38px;
	height: 2px;
	background-color: #ca0500;
	float: none;
	display: inline-block;
	border: none;
	position: relative;
}
.italic {
	font-style: italic;
	font-size: 16px;
}
footer {
	position: relative;
	top: -150px;
	font-size: 10px;
}
.footBlocks {
	display: inline-block;
	padding: 1% 2% 1% 8%;
	line-height: 30px;
	float: 	left;
	width: 15%;
}
h3 {
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	line-height: 50px;	
	border-bottom: 1px solid #212121;
}
footer ul {
	list-style: none;
	color: #888888;
}
.copyright {
	margin-top: 2em;
	color: #333333;
	padding-top: 	10px;
}
.fb, .tw,.go {
	height: 	50px;
	width: 	50px;
	border-radius: 25px;
	background-color: #888888;
	display: 	inline-block;
	margin: 15px 15px 0 0;
}
