body, aside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  }
body>*{
  flex-grow: 1;
}
header, footer, .menu {
  height: 67px;
  background-color: #f7c61d;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.menuitem {
  flex-grow: 1
  text-transform: uppercase;
  border: 1px solid #dd5555;
}
.img {
  background-image: url(images/logo.png);
  line-height: 100%;
}
.mainCont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.mainFlex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #dddddd;
}


aside.mainFlex {
    width: 25%;
}
aside * {
  padding: 3px;
}




footer {
  height: 66px;
}