body, aside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-around;
  }
body>*{
  flex-grow: 1;
}
header, footer, .menu {
  line-height: 67px;
  background-color: #f7c61d;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.menu {
	width: 30%;
	/*flex-grow: 1;*/
}
.menu img {
	height: 32px;
	vertical-align: middle;
}
.menuitem, .mainitem:visited {
  flex-grow: 1;
  text-transform: uppercase;
  /*border: 1px solid #dd5555;*/
  text-align: center;
  line-height: 67px;
  text-decoration: none;
}
.menuitem:hover{
	color: #fff;
	cursor: pointer;
}
.img {
  line-height: 100%;
}
.mainCont, .mainitem{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.subitem:first-child{
	width: 25%;
	position: relative;
	height: inherit;
	padding-left: 65px;
}
.subitem:last-child{
	width: 75%;
}
.mainFlex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #dddddd;
}
.mainitem:nth-of-type(1) .subitem:first-child{
	background-image: url(images/shutterstock_309104222.jpg);
}
.mainitem:nth-of-type(2) .subitem:first-child{
	background-image: url(images/shutterstock_285783236.jpg);
}
.mainitem:nth-of-type(3) .subitem:first-child{
	background-image: url(images/shutterstock_129499847.jpg);
}
.mainitem:nth-of-type(4) .subitem:first-child{
	background-image: url(images/shutterstock_309104222.jpg);
}
.mainitem:nth-of-type(5) .subitem:first-child{
	background-image: url(images/shutterstock_309104222.jpg);
}

aside.mainFlex {
    width: 25%;
}
aside * {
  padding: 3px;
}




footer {
  height: 66px;
}