$main-color: #696969;
$light-color: #b0b4bc;
$border-color: #eaedf3;
$quotes-color: #008cff;

// HEADER START
header{
  line-height: 40px;
  margin: 20px 0;
  .brand{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    float: left;
    background-color: #000;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .language{
    float: right;
    text-align: center;
    width: 100px;
    color: $main-color;
  }
  #project-start{
    float: right;
    width: 140px;
    text-align: center;
    border: 2px solid $border-color;
    border-radius: 5px;
    color: $main-color;
    text-decoration: none;
    &:hover{
      border: 2px solid $main-color;
    }
  }
  *:hover{
    cursor: pointer;
  }
}
// HEADER END

// MAIN START
h1{
  color: $main-color;
  font-family: Arial;
  margin: 20px auto 100px;
  font-weight: bold;
}
.container{
  position: relative;
}
.vertical-line {
  position: absolute;
  width: 1px;
  height: 70%;
  left:50%;
  top: 240px;
  background: $main-color;
  z-index: 0;
}
.horiz{
  margin: 20px 0;
  .info-block {
    border: 10px solid $border-color;
    color: $light-color;
    // height: 460px;
    h4{
      color: $main-color;
      text-align: left;
    }
    &.left::after{
      width: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 40px solid $border-color;
      position: absolute;
      left: 100%;
      top: 10px;
      display: block;
      content: "";
    }
    &.right::after{
      width: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 40px solid $border-color;
      position: absolute;
      left: -40px;
      top: 10px;
      display: block;
      content: "";
    }
  }
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid $border-color;
    background-color: #fff;
    margin: 0 auto;
    z-index: 2;
    background-image: url(../images/Circle_stripe.png);
    // background-size:80px;
  }
  h3{
    color: $quotes-color;
    font-weight: bold;
    font-size: 20px;
    margin: 30% auto 0;
  }
}
//MAIN END

// FOOTER START
footer{

}
// FOOTER END
